<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta content="A streaming JSON parser that generates SAX-like events." name="description"/>
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen"/>
<script type="text/javascript" src="http://use.typekit.com/crf4oti.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <a href="https://github.com/dgraham/json-stream"><img style="position: absolute; top: 0; right: 0;" src="http://s3.amazona
ws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
  <div id="container">
  {{ content }}
  </div>
</body>
</html>
