on: [push, pull_request]
name: Build
jobs:
  test:
    name: rake test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - head
          - "3.1"
          - "3.0"
          - "2.7"
          - "2.6"
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - run: |
          bundle exec rake test
