on: [push, pull_request]
name: Build
jobs:
  test:
    name: rake test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.6'
      - run: |
          gem install bundler --no-document
          bundle exec rake test
